.original-price{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.90em;
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-decoration: line-through;
}
